.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Ingredients {
    background-color: #b7fcf4;
    /*color: #702e05;*/
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 1px solid #cc6804;
    padding: 5px;
    border-radius: 5px;
}

.Items{
    background-color: lightgreen;
    color: #662b05;
    display: inline-block;
    font-weight: bolder;
    margin: auto;
    border: 1px solid red;
    padding: 8px;
    border-radius: 5px;
}
