.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Ingredients {
    background-color: #a2e1d9;
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 1px solid #cc6804;
    padding: 5px;
    border-radius: 10px;
}
